<h1>Doctor Profile</h1>
<table class="table table-striped">
  <% current_user.appointments.find_each do |appointment|  %>
    <tr>
      <% if appointment.active? %>
        <td><%= "Patient name:" %></td>
        <td><%= "#{appointment.patient.first_name} " %></td>
        <td><%= "#{appointment.patient.last_name}" %></td>
        <td> <%= link_to "Make a recommendation", edit_appointment_path(appointment) %></td>
      <% else %>
        <td> <%= "You recommend to #{appointment.patient.last_name} :" %></td>
        <td><%= "#{appointment.recommendation}" %></td>
      <% end %>
    </tr>
  <% end %>
</table>
