<h1>Patient Profile</h1>
<%= form_tag profiles_index_path, method: :get do %>
<%= select_tag "category_id", options_from_collection_for_select(Category.all, "id", "name"), include_blank: "all" %>
<%= submit_tag "Search" %>
<% end %>
<table>
  <% @doctors.find_each do |doctor|  %>
    <tr>
      <td><%= "#{doctor.first_name}" %></td>
      <td><%= "#{doctor.last_name}" %></td>
      <td><%= "#{doctor.category.name}" %></td>
      <% if current_user.doctors.include?(doctor) %>
      <td><span>You have appointment</span></td>
      <% else %>
        <td><%= link_to "Make an appointment", appointments_path(patient: current_user, doctor: doctor), method: :post %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<h2>Recommendations</h2>
<ul>
  <% current_user.appointments.find_each do |appointment|  %>
    <li>
      <% if appointment.active? %>
        <p>
          <%= "Doctor #{appointment.doctor.last_name} did not review your appointment" %>
        </p>
      <% else %>
        <%= "Doctor #{appointment.doctor.last_name} recommend: #{appointment.recommendation}" %>
      <% end %>
    </li>
  <% end %>
</ul>
